<div class="span5">
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Title</th>
      <th>Date created</th>
      <th>User</th>
      <th>Status</th>
      <th>Comments</th>
    </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
        <% book.active? ? label_type = 'success' : label_type = 'danger' %>
        <% book.active? ? book_status = 'active' : book_status = 'inactive'  %>
        <tr>
          <td><%= book.title %></td>
          <td><%= book.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= book.user.email %></td>
          <td><span class="label label-<%= label_type %>"><%= link_to book_status, change_status_admin_book_path(book), method: :post %><br></span>
          <td><%= link_to 'Show Comments', admin_book_path(book) %></td>
          </td>
        </tr>
    <% end  %>
    </tbody>
  </table>
</div>