<h2><%= @book.title %> Comments</h2>
<div class="span5">
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Body</th>
      <th>Date created</th>
      <th>User</th>
      <th>Rating</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <% @book.comments.each do |comment| %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= comment.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= comment.user.email %></td>
          <td><%= comment.rating %></td>
          <td><%= link_to 'delete', admin_comment_path(comment), method: :delete %></td>
          </td>
        </tr>
    <% end  %>
    </tbody>
  </table>
</div>