<div class="span5">
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Name</th>
      <th>Date created</th>
      <th>Books count</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @authors.each do |author| %>
        <% author.active? ? label_type = 'success' : label_type = 'danger' %>
        <% author.active? ? author_status = 'active' : author_status = 'inactive'  %>
        <tr>
          <td><%= author.name %></td>
          <td><%= author.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= author.books.count %></td>
          <td><span class="label label-<%= label_type %>"><%= link_to author_status, change_status_admin_author_path(author), method: :post %><br></span>
          </td>
        </tr>
    <% end  %>
    </tbody>
  </table>
</div>