<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= link_to book.title, book_path(book) %></h3>
    </div>
    <div class="panel-body">
      <%= image_tag book.image, size: '150x200' %>
    </div>
    <div class="panel-footer">
      <b>Категории:</b><br>
      <% book.categories.each do |category| %>
          <%= category.title %><br>
      <% end %>
      <b>Авторы:</b><br>
      <% book.authors.each do |author| %>
          <%= author.name %><br>
      <% end %>
      <b>Отзывов:</b><%= book.comments.count %><br>
      <b>Рейтинг:</b>
      <span class="icon-stack">
      <% book.rating.round.times do  %><br>
          <img src="<%= "/images/star.png" %>" height="15" width="15" alt="">
      <% end %>
      </span>
    </div>
</div>
</div>