<div class="container">
<%= simple_form_for(@book, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :title %>
    <%= f.input :desc %>
    <%= f.input :categories, collection: Category.all, input_html: { class: 'multiselectuser', multiple: true} %>
    <%= f.input :authors, collection: Author.where(active: true), input_html: { class: 'multiselectuser', multiple: true} %>
    <%= f.input :agreement, label: 'Я принимаю пользовательское соглашение', inline_label: true %>
    <%= f.file_field :image %>
    <%= f.button :submit %>
<% end %>
</div>