<%= form_tag search_books_path, class: 'navbar-form navbar-left', method: :get do %>
    <%= text_field_tag :search, nil,  class: 'form-control' %>
    <%= submit_tag 'Поиск', class: 'btn btn-default', id: 'password_reset' %>
<% end %>