<div class="row">
  <div class="col-md-3">
    <%= image_tag @book.image, size: '200x200' %>
  </div>

  <p>
    <strong>Added by:</strong><%= @book.user.email + ' ' + @book.created_at.strftime("%Y-%m-%d") %>
  </p>

  <p>
    <strong>Rating:</strong><%= @book.rating %>
  </p>
  <p>
    <strong>Author:</strong>
    <% @book.authors.each do |author| %>
        <%= author.name %>  <br>
    <% end %>
  </p>

  <p>
    <strong>Category:</strong>
    <% @book.categories.each do |category| %>
        <%= category.title %> <br>
    <% end %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= @book.desc %>
  </p>
</div>
<p>
  <strong>Comment:</strong>
  <% @book.comments.each do |comment| %><br>
      <%= comment.user.email + ' says: ' + comment.body + ' and rated book: ' + comment.rating.to_s %> <br>
  <% end %>
</p>

<%= render 'comments/form' %>
