<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand' do %>
          BOOKS
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <%= render 'books/search_form' %>
      <ul class="nav navbar-nav">
      <li><%= link_to 'Admin Panel', admin_users_path if can? :manage, :all %></li>
      <li><%= link_to 'Add Book', new_book_path if can? :create, Book %></li>
      <li><%= link_to 'Add Author', new_author_path if can? :create, Author %></li>
      </ul>
      <ul class="navbar-nav navbar-right">
        <% if user_signed_in? %>
            <p class="navbar-text">
              Hello, <%= link_to current_user.email, class: 'navbar-link' %>
            </p>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown_accaunt"><%= t 'account' %>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>1</li>
                  <li class="divider"></li>
                  <li><%= link_to (t 'sign_out'), destroy_user_session_path, method: :delete, id: 'log_out' %></li>
                </ul>
              </li>
            </ul>
        <% else %>
            <ul class="nav navbar-nav">
              <li><%= link_to (t 'sign_up'), new_user_registration_path, id: 'sign_up' %></li>
              <li><%= link_to (t 'sign_in'), new_user_session_path, id: 'log_in' %></li>
            </ul>
        <% end %>
      </ul>
    </div>
  </div>
</nav>