<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
      <li><%= link_to 'All_books', root_path %></li>
      <% Category.all.each do |category| %>
      <li><%= link_to category.title, category_path(category) %></li>
      <% end %>
  </ul>
</div>