<div class="span5">
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Title</th>
      <th>Date created</th>
      <th>Books number</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
          <td><%= category.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= category.books.count %></td>
          </td>
        </tr>
    <% end  %>
    </tbody>
  </table>
</div>