<div class="span5">
  <table class="table table-striped table-condensed">
    <thead>
    <tr>
      <th>Email</th>
      <th>Date registered</th>
      <th>Role</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <% user.active? ? label_type = 'success' : label_type = 'danger' %>
    <% user.active? ? user_status = 'active' : user_status = 'inactive'  %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= user.role %></td>
        <td><span class="label label-<%= label_type %>"><%= link_to user_status, change_status_admin_user_path(user), method: :post %><br></span>
        </td>
      </tr>
    <% end  %>
    </tbody>
  </table>
</div>