<!DOCTYPE html>
<html>
<head>
  <title>ControlFinal</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/application/navbar' %>
<div id="wrapper">
  <%= render 'layouts/application/sidebar' %>
  <div id="page-content-wrapper">
    <% flash.each do |type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{type}" %>
    <% end %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
